@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: hsl(36, 100%, 99%);
}
html{
    font-size: 14.4px;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar{
    display: none;
}
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@media screen and (min-width: 560px) {
    .link{
        top: unset;
        right: unset;
        position: unset;
        background-color: transparent;
        height: unset;
        width: unset;
        padding-top: 0;
        transform: translateX(0);
    }
}